@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online Shopping </title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)

</head>
@{
    var user = User.Identity.GetUserId();
    var isLoggedIn = user != null;
}
<style>
    .items-count {
        position: absolute;
        top: 0px;
        left: 25px;
        background-color: red;
        width: 18px;
        height: 18px;
        text-align: center;
        font-size: 12px;
        border-radius: 100%;
        color: white;
        align-items: center;
        display: grid;
        font-weight: bold;
    }
</style>
<body>
    <div class="navbar navbar-theme navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Food Order App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (isLoggedIn)
                    {
                        <li>
                            <a href="@Url.Action("CartItems", "Home")">
                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                <span class="items-count" data-bind="text:$root.itemsCount"></span> – Items
                            </a>
                        </li>
                    }
                    <li>@Html.ActionLink("About", "AboutUs", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Food Order App</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/knockout-3.5.1.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfv2oXWVuKVx0IAokOr9UUIAslsD1QBhE"></script>
    <script src="~/Scripts/index.js"></script>
</body>

</html>
