
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shopping Cart</h2>

<!--ko if:$root.items().length===0-->
<br />
<div id="EmptyDataMsg" class="alert alert-info">
    <strong>Welcome!</strong> Your shopping cart is currently empty. Let's start shopping
</div>
<!--/ko-->


<table class="cart-page">
    <!--ko foreach :$root.items-->
    <tr>
        <td><span class="p-name" data-bind="text:name"></span> </td>
        <td><span class="p-name" data-bind="text:unitPrice"></span> </td>
        <td>
            @* <a class="quantity" onclick="Change(this, 1, @item.PID)">+</a>*@
            <span class="p-name" data-bind="text:quantity">@*@item.Quantity*@</span>
            <a class="quantity" @*onclick="Change(this, 0,  @item.PID)*@>-</a>
            <a class="remove" @*onclick="Change(this, -1,  @item.PID*@>Remove</a>
        </td>
    </tr>
    <!--/ko-->
    <tr><td>Total: </td><td id="totalPrice" colspan="2">@*@String.Format("{0:c}", ViewBag.CartTotalPrice)*@</td></tr>
</table>
@*<div class="button">
        @Html.ActionLink("Clear Cart", "Clear", "Checkout", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Countinue", "Purchase", "Checkout", null, new { @class = "btn btn-info" })
    </div>*@

